hr {
  position:center;
  width:40%;
  border-color: black;
}

/*Text Style */
p, li {
  font-size:1em;
  font-family: 'Merriweather', sans-serif;
}

h1{
  font-family: 'Oswald', serif;
  font-size:1.999em;
}

h2 {
  font-family: 'Oswald', serif;
  font-size:1.999em;
}

h3 {
  font-family: 'Oswald', serif;
  font-size:1.414em;
}

/*Link Style */
a {
  text-decoration: none;
}

@media screen and (min-width:900px) {

  h1{
    font-family: 'Oswald', serif;
    font-size:3.998em;
  }

  hr {
    position:center;
    width:80%;
  }
}
